.back {
  background: url("../../img/back1.jpg") center center no-repeat;
  background-size: cover;
  height: 60vh;

}
.nav-bar {
  padding: 50px 0 0 0 !important;
}
.font-small {
  font-size: 12px !important;
}
.btn {
  background: #2b3b5a !important;
  border: none !important;
  font-size: 12px !important;
}
